.item[role="button"] {
  cursor: pointer;
}

.item {
  transition: background-color 150ms ease;
}

.item[role="button"]:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.item:focus-visible {
  outline: 2px solid var(--mantine-primary-color-filled);
  outline-offset: 2px;
}

.title {
  word-break: break-word;
}

.description {
  word-break: break-word;
}
