.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  &[data-active] {
    background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-4));
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: calc(var(--mantine-spacing-md) + 30px + var(--mantine-spacing-md));
  margin-left: calc(var(--mantine-spacing-md) + 15px);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-radius: 0 var(--mantine-radius-sm) var(--mantine-radius-sm) 0;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }

  &[data-active] {
    background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-4));
    border-left-color: light-dark(var(--mantine-color-blue-5), var(--mantine-color-blue-5));
  }
}

.chevron {
  transition: transform 200ms ease;

  &[data-rotate] {
    transform: rotate(90deg);
  }
}
